.u-section-1 .u-sheet-1 {
  min-height: 1096px;
}

.u-section-1 .u-text-1 {
  margin: 110px auto 0 144px;
}

.u-section-1 .u-text-2 {
  margin: 50px auto 0 144px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -36px auto 0 233px;
}

.u-section-1 .u-text-4 {
  margin: -36px auto 0 329px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -36px 144px 0 auto;
  padding: 10px 249px;

}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 34px auto 0;
  padding: 237px 389px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 43px 144px 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 312px 60px auto;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-4 {
    margin-left: 271px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 112px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-4 {
    margin-left: 208px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-left: 175px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 156px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 91px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 91px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 110px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 98px;
  }
}